/* nav oculto en movil */
.main-nav {
    display: none;
    flex-direction: column;
}
#nav-toggle:checked + label + .main-nav {
    display: flex;
}
    /* Banner */
#banner {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url("../img/banner-mobile.jpg");
    background-size: cover;
    background-position: center;

}
    /* About*/ 
.bar {
    width: 100%;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 20px;
    width: 0;
    animation: fill 2s forwards;
}

.progress.html {
    background: orange;
    --target: 90%;
    animation-delay: 0.3s;
}

.progress.css {
    background: blue;
    --target: 80%;
    animation-delay: 0.6s;
}

@keyframes fill {
    to { width: var(--target); } 
}

/* enlaces visibles en desktop */
@media screen and (width >= 426px) {
    .burger {
        display: none;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (width >= 426px) {
    #banner {
        background-image: url(../img/banner-desktop.jpg);
        height: 60vh;
    }
}