
main {
    height: 85vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.mockup-container {
    position: relative;
    display: inline-block;
    height: 90vh;
}

.video {
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 73%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

.overlay {
    position: relative;
    height: 80vh;
    z-index: 1;
}


.fadeIn {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}
